/*
  * FUENTES: Noto Sans JP, Ubuntu, Roboto
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    color: #e2e2e2;
    background-color: #171717;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
  }
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/odd-taxi-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }
  
  body::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #171717, transparent);
    z-index: -1;
  }
  h1,
  h2 {
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #e2e2e2;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  p,
  ul,
  li {
    font-family: "Noto Sans JP", "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #c5c5c5;
  }
  a {
    text-decoration: none;
    color: inherit;
    color: #c5c5c5;
  }
  a:hover {
    text-decoration: underline;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* HEADER */
  
  .header {
    margin: 25px 130px 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .header .logo h1 a {
    text-decoration: none;
    color: #fff;
  }
  
  .header .logo h1 {
    font-size: 40px;
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-weight: 700;
    user-select: none;
    margin: 0;
    color: #fff;
  }
  
  .header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .header .nav .nav-list li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-weight: 400;
  }
  
  .header .nav .nav-list li:nth-child(1) {
    margin-left: 15px;
  }
  
  .header .nav .nav-list li a {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .header .nav .nav-list li a:hover {
    background-color: rgba(232, 232, 232, 0.1);
    color: #fff;
  }
  
  .search {
    position: relative;
    width: 40px;
    height: 40px;
    background: #e2e2e2;
    border-radius: 40px;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .search.active {
    width: 300px;
  }
  
  .search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #e2e2e2;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .search .icon::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    transform: translate(-2px, -2px);
  }
  
  .search .icon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 7px;
    background: #000;
    transform: translate(6px, 6px) rotate(315deg);
  }
  
  .search .input {
    position: relative;
    width: 300px;
    height: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 80px 0 0;
    background: #e2e2e2;
    color: #171717;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
  }
  
  .clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #171717;
    transform: rotate(45deg);
  }
  
  .clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #171717;
    transform: rotate(315deg);
  }








































  /* VIDEO SECTION */
.video {
    margin: 30px 130px 0 130px;
}

.video h1 {
    margin: 0 0 25px 0;
    font-size: 30px;
    font-weight: bold;
    font-family: "Ubuntu", "Roboto", sans-serif;
    color: #E2E2E2;
}

.video h1 a {
    text-decoration: none;
    color: #E2E2E2;
}

.video .box {
    background-color: #000;
    text-align: center;
}

.video .ab {
    margin: 20px 0;
}

.video .ab ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video .ab ul li {
    list-style: none;
    opacity: 0.5;
}

.video .ab ul li:hover {
    list-style: none;
    opacity: 0.8;
}

.video .ab ul li:active {
    list-style: none;
    opacity: 1;
}

.video .ab ul li a {
    font-size: 20px;
    font-weight: 400;
    font-family: "Ubuntu", "Roboto", sans-serif;
    color: #E2E2E2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.video .ab ul li a img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.video .ab ul li:nth-child(1) a img {
    margin-right: 10px;
}

.video .ab ul li:nth-child(2) a img {
    margin-left: 10px;
}



















  /*  EPISODIOS  */

  .episodios {
    margin: 35px 130px 50px 130px;
  }
  
  .episodios h1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Ubuntu", "Roboto", sans-serif;
    color: #E2E2E2;
  }

  .episodios h1 i {
    color: #FB3640;
  }

  .episodios .grid-episodios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 50px;
  }

  .episodios .grid-episodios a {
    text-decoration: none;
  }

  .episodios .grid-episodios .anime-img-1 {
    background-image: url(../images/cap1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-2 {
    background-image: url(../images/cap2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-3 {
    background-image: url(../images/cap3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-4 {
    background-image: url(../images/cap4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-5 {
    background-image: url(../images/cap5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-6 {
    background-image: url(../images/cap6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-7 {
    background-image: url(../images/cap7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-8 {
    background-image: url(../images/cap8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-9 {
    background-image: url(../images/cap9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-10 {
    background-image: url(../images/cap10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-11 {
    background-image: url(../images/cap11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-12 {
    background-image: url(../images/cap12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-img-13 {
    background-image: url(../images/cap13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115px;
  }
  
  .episodios .grid-episodios .anime-descripcion h2 {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    font-family: "Ubuntu", "Roboto", sans-serif;
  }




  .episodios .grid-episodios .anime-section .watching {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
  }

  .episodios .grid-episodios .anime-section .watching h1 {
    font-size: 15px;
    font-weight: 500;
    font-family: "Ubuntu", "Roboto", sans-serif;
    margin: 0;
    position: absolute;
    bottom: 25px;
    text-align: center;
  }

  .episodios .grid-episodios .anime-section .watching img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -85px;
  }

  .episodios .grid-episodios .anime-section .anime-img-1::before {
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0.5;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
/*
  * OJO
  .episodios .grid-episodios .anime-section .anime-img-1::after {
    content: '';
    position: relative;
    top: -50%;
    left: 50%;
    width: 50px;
    height: 50px; 
    transform: translate(-50%, -50%);
    background: url(images/show.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
*/





  .episodios .grid-episodios .anime-section .anime-img-2::before,
  .episodios .grid-episodios .anime-section .anime-img-3::before,
  .episodios .grid-episodios .anime-section .anime-img-4::before,
  .episodios .grid-episodios .anime-section .anime-img-5::before,
  .episodios .grid-episodios .anime-section .anime-img-6::before,
  .episodios .grid-episodios .anime-section .anime-img-7::before,
  .episodios .grid-episodios .anime-section .anime-img-8::before,
  .episodios .grid-episodios .anime-section .anime-img-9::before,
  .episodios .grid-episodios .anime-section .anime-img-10::before,
  .episodios .grid-episodios .anime-section .anime-img-11::before,
  .episodios .grid-episodios .anime-section .anime-img-12::before,
  .episodios .grid-episodios .anime-section .anime-img-13::before {
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  .episodios .grid-episodios .anime-section .anime-img-2::after,
  .episodios .grid-episodios .anime-section .anime-img-3::after,
  .episodios .grid-episodios .anime-section .anime-img-4::after,
  .episodios .grid-episodios .anime-section .anime-img-5::after,
  .episodios .grid-episodios .anime-section .anime-img-6::after,
  .episodios .grid-episodios .anime-section .anime-img-7::after,
  .episodios .grid-episodios .anime-section .anime-img-8::after,
  .episodios .grid-episodios .anime-section .anime-img-9::after,
  .episodios .grid-episodios .anime-section .anime-img-10::after,
  .episodios .grid-episodios .anime-section .anime-img-11::after,
  .episodios .grid-episodios .anime-section .anime-img-12::after,
  .episodios .grid-episodios .anime-section .anime-img-13::after {
    content: '';
    position: relative;
    top: -50%;
    left: 50%;
    width: 50px;
    height: 50px; 
    transform: translate(-50%, -50%);
    background: url(../images/play-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
  

  .episodios .grid-episodios .anime-section:hover .anime-img-2::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-3::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-4::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-5::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-6::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-7::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-8::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-9::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-10::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-11::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-12::before,
  .episodios .grid-episodios .anime-section:hover .anime-img-13::before {
    opacity: 0.5;
  }
  

  .episodios .grid-episodios .anime-section:hover .anime-img-2::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-3::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-4::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-5::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-6::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-7::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-8::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-9::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-10::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-11::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-12::after,
  .episodios .grid-episodios .anime-section:hover .anime-img-13::after {
    opacity: 1;
  }





























































































  /*  FOOTER  */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px auto 20px;
    grid-template-areas:
      "blanco1 blanco1 blanco1"
      "footer1 footer2 footer3"
      "blanco2 blanco2 blanco2";
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .footer .footer-1 ul li,
  .footer .footer-2 ul li,
  .footer .footer-3 ul li,
  .footer .footer-3 h4 {
    color: #000;
  }
  .footer .footer-1 a:active,
  .footer .footer-2 a:active {
    font-weight: bold;
  }
  
  .footer .footer-1 ul,
  .footer .footer-2 ul,
  .footer .footer-3 ul {
    list-style: none;
  }
  
  .empty-block1 {
    grid-area: blanco1;
  }
  .empty-block2 {
    grid-area: blanco2;
  }
  
  /*  FOOTER 1  */
  .footer-1 {
    grid-area: footer1;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 15px;
  }
  .footer-1 ul li {
    margin-bottom: 15px;
  }
  .footer-1 ul li:last-child {
    margin-bottom: 0;
  }
  .footer-1 ul li a {
    color: #000;
  }
  
  /*  FOOTER 2  */
  .footer-2 {
    grid-area: footer2;
    align-self: center;
    justify-self: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 100%;
    height: 100%;
    display: inline-flex;
    text-align: center;
  }
  
  .footer-2 .ul-1 {
    width: 100%;
    align-self: center;
  }
  .footer-2 .ul-2 {
    width: 100%;
    align-self: center;
  }
  
  .footer-2 .ul-1 li,
  .footer-2 .ul-2 li {
    margin-bottom: 15px;
  }
  .footer-2 .ul-1 li:last-child,
  .footer-2 .ul-2 li:last-child {
    margin-bottom: 0;
  }
  .footer-2 .ul-1 li a,
  .footer-2 .ul-2 li a {
    color: #000;
  }
  /*  FOOTER 3  */
  .footer-3 {
    grid-area: footer3;
    align-self: center;
    justify-self: center;
    padding: 0 10px;
  }
  
  .footer-3 .img-social {
    text-align: center;
  }
  
  .footer-3 .img-social img {
    width: 20%;
  }
  
  .footer-3 h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    font-size: 13px;
  }
  
  .footer-3 ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  .footer-3 ul li {
    display: inline;
  }
  
  .footer-3 ul li a {
    color: #000;
    font-size: 30px;
    text-align: center;
  }